@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");


  .text-xs { font-size: 12px; line-height: 16px; }
  .text-sm { font-size: 14px; line-height: 20px; }
  .text-base { font-size: 16px; line-height: 19.5px; }
  .text-lg { font-size: 18px; line-height: 21.94px; }
  .text-xl { font-size: 20px; line-height: 24.38px; }
  .text-2xl { font-size: 24px; line-height: 29.26px; }
  .text-3xl { font-size: 28px; line-height: 50px; }
  .text-4xl { font-size: 48px; line-height: 58px; }
  .text-8xl { font-size: 96px; line-height: 106px; }

  .font-montserrat { font-family: 'Montserrat', sans-serif; }
  .font-palanquin { font-family: 'Palanquin', sans-serif; }



  .text-slate-gray { color: #6D6D6D; }
  .bg-primary { background-color: #ECEEFF; }
  .bg-coral-red { background-color: #FF6452; }
  .bg-pale-blue { background-color: #F5F6FF; }
  .text-white-400 { color: rgba(255, 255, 255, 0.8); }



  .shadow-3xl { box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1); }

  /* Background Images */
  .bg-hero { background-image: url('assets/images/collection-background.svg'); }
  .bg-card { background-image: url('assets/images/thumbnail-background.svg'); }



.max-container {
  max-width: 1440px;
  margin: 0 auto;
}

/* Custom input class */
.input {
  @apply sm:flex-1 max-sm:w-full text-base leading-normal text-slate-500 pl-5 max-sm:p-5 outline-none sm:border-none border max-sm:border-slate-500 max-sm:rounded-full;
}

/* Custom padding utilities */
.padding {
  @apply sm:px-16 px-8 sm:py-24 py-12;
}
.padding-x {
  @apply sm:px-16 px-8;
}
.padding-y {
  @apply sm:py-24 py-12;
}
.padding-l {
  @apply sm:pl-16 pl-8;
}
.padding-r {
  @apply sm:pr-16 pr-8;
}
.padding-t {
  @apply sm:pt-24 pt-12;
}
.padding-b {
  @apply sm:pb-24 pb-12;
}

/* Custom text style */
.info-text {
  @apply  text-slate-500 text-lg leading-7;
  /* @apply font-montserrat text-slate-500 text-lg leading-7; */
}


